/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***************** Global styles (mobile-first) - for all three pages *************/

/* * {
  border: 1px solid red;
} */

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

.hero-area .content-wrapper {
  width: 90%;
  margin: 20px 0 200px 0;
}

/* Background colors and background images */

.hero-area {
  background: url("../Assets/jake-melara-30679-unsplash.jpg") right no-repeat
    #333;
  background-size: cover;
}

.features-section {
  background: url("../Assets/rawpixel-800820-unsplash1.jpg") center no-repeat
    #333;
  background-size: cover;
}

header,
footer {
  background-color: #202322;
}

.contact-section,
.reviews-section {
  background-color: #2a423a;
}

aside,
.mission-section,
.faq-section {
  background-color: #527158;
}

/* Images */

img {
  width: 100%;
}

figure {
  margin: 0;
}

/* Font styles - all three pages */

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #e2e3ed;
}

ul {
  padding-left: 0;
}

ul li,
ol li {
  list-style-type: none;
  margin-left: 0;
}

nav a {
  text-transform: uppercase;
  margin-left: 0;
}

a {
  font-weight: 700;
  font-size: 1.125rem;
  color: #e2e3ed;
  text-decoration: none;
}

input {
  font-weight: 500;
  font-size: 1.125rem;
}

h1 {
  margin-top: 0;
  font-size: 2.25rem;
  line-height: 2.7rem;
  font-weight: 500;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
}

h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

.features-section .fontawesome-icon {
  font-size: 3.75rem;
}

aside .form {
  margin-top: 30px;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type="button"] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* img {
}

figure {
} */

/* *************************** Base Header Styles ***************************/

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.header-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/************************** Base Footer Styles ***************************/

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

/* footer .contact {
  margin-bottom: 50px;
} */

footer .contact p {
  margin-bottom: 10px;
}

footer .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 0;
}

footer .social-icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin: 0;
}

footer .social-icons ul li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #527158;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #e2e3ed;
}

footer .social-icons ul li a:hover {
  color: #527158;
  background-color: #e2e3ed;
}

/* .social-icons a {
  font-size: 1.4rem;
  color: #e2e3ed;
} */

footer .copyright {
  margin: 20px 0;
}
/************************************************************
Home page - mobile styles
************************************************************/
/* Hero area */

.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* Aside */

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* Features */
.features-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features-section h2 {
  margin-bottom: 60px;
}

.features-section article {
  width: 65%;
  margin: 30px auto;
  text-align: center;
}

.features-section .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features-section p {
  margin: 0;
}

.features-section i {
  font-size: 3.75rem;
  margin-bottom: 40px;
}

/* Reviews */

.reviews-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.reviews-section h2 {
  margin-bottom: 40px;
}

.reviews-section h3 {
  width: 80%;
  margin: 0;
}

.reviews-section p {
  line-height: 1.25rem;
}

/************************************************************
About page - mobile styles
************************************************************/

.mission-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-content p {
  margin: 0;
}

address {
  font-style: normal;
}

.map-section figure {
  width: 100%;
  height: 0;
  padding-bottom: 125%;
  overflow: hidden;
  position: relative;
}

.map-section iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/************************************************************
FAQ page - mobile styles
************************************************************/
.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq-section .content-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq-section h2 {
  margin-bottom: 50px;
}

.faq-content {
  margin-bottom: 50px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ==========================================================================
Tablet styles 
============================================================================= */

@media only screen and (min-width: 768px) {
  /* General styles - tablet */
  /* * {
    border: 1px solid teal;
  } */

  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 40%;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.25rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  footer p {
    line-height: 1.125rem;
  }

  /* Header - tablet */

  .hero-area .content-wrapper {
    margin: 20px 0 90px 0;
  }

  header {
    justify-content: space-around;
    padding: 33px 0;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  header figure {
    width: 30%;
  }

  header nav {
    width: 30%;
  }

  header nav ul {
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }

  /* Aside - tablets */
  aside .content-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 40%;
    margin: 0;
  }

  /* Features */

  .features-section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 45%;
  }

  .features-section .features-item-description {
    width: 60%;
  }

  /* Reviews */
  .reviews-section article {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .reviews-section article div {
    width: 49%;
  }

  /* Footer */
  footer .content-wrapper {
    width: 70%;
    margin: 100px 0;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  footer .contact {
    margin-bottom: 0;
  }

  footer .copyright {
    width: 100%;
    text-align: center;
  }

  /* ==========================================================================
 	About Page - tablet styles
 	========================================================================== */

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .mission-content p {
    width: 45%;
  }

  .map-section .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  .contact-section .content-wrapper h2 {
    width: 80%;
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .general-info-wrapper,
  .chat-wrapper {
    flex-basis: 40%;
  }

  .map-section figure {
    padding-bottom: 65%;
  }

  /* ==========================================================================
 	FAQ Page - tablet styles
 	========================================================================== */

  .faq-section .content-wrapper {
    justify-content: space-between;
  }

  .faq-content {
    flex-basis: 45%;
  }

  .faq-section h2 {
    width: 100%;
  }
}

/* ==========================================================================
       General desktop styles
       ========================================================================== */

@media only screen and (min-width: 1200px) {
  /* * {
    border: 1px solid darkblue;
  } */

  a {
    font-weight: 700;
    font-size: 1.125rem;
  }

  input {
    font-weight: 500;
    font-size: 1.125rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 5.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .faq-section h2,
  .mission-section h2 {
    font-size: 3rem;
  }

  h3,
  h4 {
    font-size: 1.875rem;
  }

  .faq-section h3 {
    line-height: 2.5rem;
  }

  .faq-section p {
    line-height: 2rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  /* ==========================================================================
       Home Page - desktop
       ========================================================================== */

  .content-wrapper {
    max-width: 960px;
  }

  /* Aside - desktop */
  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 30%;
  }

  /* Features - desktop */
  .features-section h2 {
    width: 90%;
  }

  .features-section article {
    flex-basis: 30%;
  }

  /* Reviews - desktop */
  .reviews-section article div {
    width: 48%;
  }

  .reviews-section h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .reviews-section p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  /* ==========================================================================
       About Page - desktop
       ========================================================================== */
  .mission-section h2,
  .contact-section .content-wrapper h2 {
    width: 90%;
  }

  .map-section figure {
    padding-bottom: 50%;
  }

  /* ==========================================================================
       FAQ Page - desktop
       ========================================================================== */
  .faq-section h2 {
    width: 70%;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
